{% extends "base.html" %}

{% block content %}
    {%for object in object_list %}
    <a href="/{{ object.id }}/{{ object.slug }}/"><h1>{{object.titulo}}</h1></a>
        <h3>{{object.fecha}}</h3>
        <p>{{object.contenido}}</p>
    {%endfor%}
     <div class="pagination">
         {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previus_page_number }}">Anterior</a>
         {% endif %}

         {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
         {% endif %}
     </div>
{% endblock content %}